*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    background-color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, 'Times New Roman', Times, serif;
}

.head {
    width: 100%;
    height: 100vh;
    display: grid;
    place-content: center;
}

h1 {
    color: aqua;
    font-size: 45px;
    border: 1px solid aqua;
    border-radius: 50%;
    padding: 110px 20px;
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}